{% extends "base.html" %}
{% block title %}SZOP - Kreator armii{% endblock %}
{% block content %}
<div class="row g-3 mb-4">
  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Moje rozpiski</h5>
        <p class="card-text">Twórz i zarządzaj listami armii gotowymi do gry.</p>
        <a class="btn btn-primary" href="/rosters">Przejdź</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Armie</h5>
        <p class="card-text">Dodawaj frakcje, jednostki i ich parametry.</p>
        <a class="btn btn-primary" href="/armies">Przejdź</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Zbrojownie</h5>
        <p class="card-text">Zarządzaj listami uzbrojenia i ich wariantami.</p>
        <a class="btn btn-primary" href="/armories">Przejdź</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h4>Ostatnie rozpiski</h4>
    <ul class="list-group mb-4">
      {% for roster in rosters %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ roster.name }} ({{ roster.army.name }})</span>
        <div class="btn-group">
          <a class="btn btn-sm btn-outline-secondary" href="/rosters/{{ roster.id }}">Edytuj</a>
          <a class="btn btn-sm btn-outline-success" href="/rosters/{{ roster.id }}/print" target="_blank">Drukuj</a>
        </div>
      </li>
      {% else %}
      <li class="list-group-item">Brak rozpisek</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-lg-6">
    <h4>Ostatnie armie</h4>
    <ul class="list-group mb-4">
      {% for army in armies %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ army.name }}</span>
        <a class="btn btn-sm btn-outline-secondary" href="/armies/{{ army.id }}">Pokaż</a>
      </li>
      {% else %}
      <li class="list-group-item">Brak armii</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
