{% extends "base.html" %}
{% block title %}Edycja jednostki - {{ unit.name }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-10 col-xl-9 col-xxl-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edycja jednostki</h5>
        <form method="post">
          <div class="row g-3 align-items-end mb-3">
            <div class="col-12 col-md-6 col-lg-7">
              <label class="form-label" for="name">Nazwa</label>
              <input class="form-control" id="name" name="name" value="{{ unit.name }}" required />
            </div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
              <label class="form-label" for="typical-models">Typowa liczebność</label>
              <input
                class="form-control"
                id="typical-models"
                name="typical_models"
                type="number"
                min="1"
                value="{{ unit.typical_model_count }}"
                required
              />
            </div>
          </div>
          <div class="row g-3">
            <div class="col-12 col-md-3">
              <label class="form-label" for="quality">Jakość</label>
              <input class="form-control" id="quality" name="quality" type="number" min="2" max="6" value="{{ unit.quality }}" required />
            </div>
            <div class="col-12 col-md-3">
              <label class="form-label" for="defense">Obrona</label>
              <input class="form-control" id="defense" name="defense" type="number" min="2" max="6" value="{{ unit.defense }}" required />
            </div>
            <div class="col-12 col-md-3">
              <label class="form-label" for="toughness">Wytrzymałość</label>
              <input class="form-control" id="toughness" name="toughness" type="number" min="1" value="{{ unit.toughness }}" required />
            </div>
            <div class="col-12 col-md-3">
              <label class="form-label" for="base-size">Rozmiar podstawki</label>
              <select class="form-select" id="base-size" name="base_size" required>
                <option value="mala" {% if unit.base_size == "mala" %}selected{% endif %}>Mała</option>
                <option value="srednia" {% if unit.base_size == "srednia" %}selected{% endif %}>Średnia</option>
                <option value="duza" {% if unit.base_size == "duza" %}selected{% endif %}>Duża</option>
              </select>
            </div>
          </div>
          <div class="mb-3 mt-3">
          <label class="form-label" for="unit-passive-abilities">Zdolności pasywne</label>
          <div
            class="ability-picker"
            data-ability-picker
            data-definitions='{{ passive_definitions | tojson }}'
            data-target-input="unit-passive-abilities"
            data-default-toggle="true"
            data-default-initial="true"
            data-mandatory-toggle="true"
            data-allow-custom-name="true"
            data-hide-owned-abilities="true"
          >
            <div class="row g-2 align-items-end">
              <div class="col-sm-6">
                <select class="form-select ability-picker-select">
                  <option value="">Wybierz zdolność</option>
                  {% for ability in passive_definitions %}
                  <option value="{{ ability.slug }}" data-requires-value="{{ 'true' if ability.requires_value else 'false' }}" data-value-type="{{ ability.value_type or '' }}" title="{{ ability.description }}">
                    {{ ability.display_name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-4 ability-picker-value d-none">
                <select class="form-select ability-picker-value-select d-none"></select>
                <input class="form-control ability-picker-value-input" type="text" placeholder="Wartość" />
              </div>
              <div class="col-sm-auto">
                <div class="d-grid">
                  <button class="btn btn-outline-primary ability-picker-add text-nowrap" type="button">Dodaj</button>
                </div>
              </div>
            </div>
            <div class="ability-picker-list mt-2"></div>
          </div>
            <input type="hidden" id="unit-passive-abilities" name="passive_abilities" value='{{ passive_selected | tojson }}' />
          </div>
          <div class="mb-3">
          <label class="form-label" for="unit-active-abilities">Zdolności aktywne</label>
          <div
            class="ability-picker"
            data-ability-picker
            data-definitions='{{ active_definitions | tojson }}'
            data-target-input="unit-active-abilities"
            data-default-toggle="true"
            data-default-initial="false"
            data-allow-custom-name="true"
          >
            <div class="row g-2 align-items-end">
              <div class="col-sm-6">
                <select class="form-select ability-picker-select">
                  <option value="">Wybierz zdolność</option>
                  {% for ability in active_definitions %}
                  <option value="{{ ability.slug }}" data-requires-value="{{ 'true' if ability.requires_value else 'false' }}" data-value-type="{{ ability.value_type or '' }}" title="{{ ability.description }}">
                    {{ ability.display_name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-4 ability-picker-value d-none">
                <select class="form-select ability-picker-value-select d-none"></select>
                <input class="form-control ability-picker-value-input" type="text" placeholder="Wartość" />
              </div>
              <div class="col-sm-auto">
                <div class="d-grid">
                  <button class="btn btn-outline-primary ability-picker-add text-nowrap" type="button">Dodaj</button>
                </div>
              </div>
            </div>
            <div class="ability-picker-list mt-2"></div>
          </div>
            <input type="hidden" id="unit-active-abilities" name="active_abilities" value='{{ active_selected | tojson }}' />
          </div>
          <div class="mb-3">
          <label class="form-label" for="unit-aura-abilities">Aury</label>
          <div
            class="ability-picker"
            data-ability-picker
            data-definitions='{{ aura_definitions | tojson }}'
            data-target-input="unit-aura-abilities"
            data-default-toggle="true"
            data-default-initial="false"
            data-allow-custom-name="true"
          >
            <div class="row g-2 align-items-end">
              <div class="col-sm-6">
                <select class="form-select ability-picker-select">
                  <option value="">Wybierz aurę</option>
                  {% for ability in aura_definitions %}
                  <option value="{{ ability.slug }}" data-requires-value="{{ 'true' if ability.requires_value else 'false' }}" data-value-type="{{ ability.value_type or '' }}" title="{{ ability.description }}">
                    {{ ability.display_name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-4 ability-picker-value d-none">
                <select class="form-select ability-picker-value-select d-none"></select>
                <input class="form-control ability-picker-value-input" type="text" placeholder="Wartość" />
              </div>
              <div class="col-sm-auto">
                <div class="d-grid">
                  <button class="btn btn-outline-primary ability-picker-add text-nowrap" type="button">Dodaj</button>
                </div>
              </div>
            </div>
            <div class="ability-picker-list mt-2"></div>
          </div>
            <input type="hidden" id="unit-aura-abilities" name="aura_abilities" value='{{ aura_selected | tojson }}' />
          </div>
          <div class="mb-3">
            <label class="form-label" for="unit-weapons">Dostępne bronie</label>
            <div
              class="weapon-picker"
              data-weapon-picker
              data-weapon-tree-payload='{{ weapon_tree | tojson }}'
              data-target-input="unit-weapons"
            >
              <div class="row g-2 align-items-end">
                <div class="col-md-5">
                  <div class="weapon-picker-tree-wrapper">
                    <button
                      class="weapon-picker-tree-trigger btn btn-outline-secondary d-flex justify-content-between align-items-center w-100"
                      type="button"
                      data-weapon-tree-trigger
                      data-weapon-tree-placeholder="Wybierz broń"
                      aria-haspopup="tree"
                      aria-expanded="false"
                    >
                      <span class="weapon-picker-tree-trigger-label" data-weapon-tree-label>Wybierz broń</span>
                      <span class="weapon-picker-tree-trigger-caret" aria-hidden="true">▾</span>
                    </button>
                    <div class="weapon-picker-tree-container d-none" data-weapon-tree-container>
                      <div class="weapon-picker-tree border rounded p-2" data-weapon-tree></div>
                    </div>
                  </div>
                  <select class="form-select weapon-picker-select d-none" aria-hidden="true" tabindex="-1">
                    <option value="">Wybierz broń</option>
                    {% for option in weapon_tree.flat %}
                    {% if option.is_leaf %}
                    <option value="{{ option.id }}">{{ option.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-3">
                  <label class="form-label" for="unit-weapon-default-count">Domyślnie:</label>
                  <input
                    class="form-control weapon-picker-default-count weapon-default-count-input"
                    id="unit-weapon-default-count"
                    type="number"
                    min="0"
                    value="0"
                  />
                </div>
                <div class="col-sm-auto">
                  <div class="d-grid">
                    <button class="btn btn-outline-primary weapon-picker-add text-nowrap" type="button">Dodaj</button>
                  </div>
                </div>
              </div>
              <div class="weapon-picker-list mt-3"></div>
            </div>
            <input type="hidden" id="unit-weapons" name="weapons" value='{{ weapon_payload | tojson }}' />
            <div class="form-text">Wybierz listę dostępnych broni, ustaw domyślną ilość (0 oznacza brak w wyposażeniu domyślnym) oraz zaznacz wszystkie bronie podstawowe (może być ich wiele albo żadna).</div>
          </div>
          <button class="btn btn-primary" type="submit" name="submit_action" value="save">Zapisz</button>
          <button class="btn btn-outline-primary" type="submit" name="submit_action" value="new">Nowa jednostka</button>
          <a class="btn btn-secondary" href="/armies/{{ army.id }}">Anuluj</a>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/static/vendor/sortable.min.js"></script>
{% endblock %}
